
 <table style="width:100%">
  <tr style="text-align:left">
    <th>Document One</th>
    <th>Document Two</th>
  </tr>
  <tr>
    <td><textarea [(ngModel)]="textarea"  class = "inputfield"></textarea></td>
    <td><textarea  [(ngModel)]="textarea2"  class = "inputfield"></textarea></td>
  </tr>
   <td><div id ="areaOne" class = "resultarea"></div></td>
    <td><div id ="areaTwo" class = "resultarea"></div></td>
  <tr>
 </tr>
</table> 
<div style="text-align:center;padding:5px">
<button (click) = "compare()" class = "button" > Compare</button></div>

