p {
  font-family: Lato;
}
.areaone {
  background-color: black;
 
}
.areatwo {
  background-color: red;
  
}
.areathree {
  background-color: blue;
 
}
.inputfield{
  width:99%;
  height:400px;
  resize:none
}
.resultarea{
  width:99%;
  white-space: pre-wrap;
  color: beige
}
table{
  border-radius: 10px;
  background: #73AD21;
  padding: 10px;
  color: azure

}
.button {
  background-color: #73AD21;; /* Green */
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}